// ****************************
// Main Colors
// ****************************
$colorBlue: #2FA1AE;
$colorLight: #FAF8F5;
$colorText: rgb(221, 221, 221);
$colorDark: #050708;
$colorGreen: rgb(40, 156, 112);
//*****************************
//
//*****************************
// blue fore- and background
.art-bg-blue{
    background: $colorBlue;
}
.art-fg-blue{
    color: $colorBlue;
}
// green fore- and background
.art-bg-green{
    background: $colorBlue;
}
.art-fg-green{
    color: $colorBlue;
}
// light fore- and background
.art-bg-light{
    background: $colorLight;
}
.art-fg-light{
    color: $colorLight;
}
// dark fore- and background
.art-bg-dark{
    background: $colorDark;
}
.art-fg-dark{
    color: $colorDark;
}