@import 'colors'
    
.menu
    display: flex
    justify-content: space-between
    height: 3.5em
    width: 100%

.logo
    @media screen and (max-width: 600px)
        display: none !important
    height: 100%

.head
    height: 100%

.controls
    height: 100%